@charset "UTF-8";

.hamethread-form{

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .4);
	z-index: 99999;

	&-title{
		margin-top: 0;
		padding-bottom: 0.5em;
		border-bottom: 1px solid #eee;
		margin-bottom: 2em;
		font-size: 1.2em;
	}

	&-container{
		background: #fff;
		box-shadow: 0 0 5px rgba( 0, 0, 0, .8 );
		display: block;
		box-sizing: border-box;
		height: 90%;
		position: relative;
		top: 5%;
		margin: 0 auto;
		width: 90%;
		padding: 30px;
		border-radius: 3px;
		overflow: auto;
		max-width: 768px;
		font-size: 12px;
	}

	label{
		font-size: 1.1em;
		font-weight: bold;
	}
}

$avatar-padding: 20px;

.hamethread-comments{
	padding: $avatar-padding 0;
	margin: 0;
	background-color: #f9f9f9;
	&[data-comment-count="0"]{
		padding: 0;
	}
}

.hamethread-post-comment{
	padding: $avatar-padding;
	background-color: #f9f9f9;
}

ul.children ul.children{
	padding-left: 0;
}

.hamethread-comment{
	$img-size: 60px;
	$avatar-col-width: $img-size + 2 * $avatar-padding;
	&-item{
		position: relative;
		min-height: $img-size;
		&-wrapper:last-child &:after{
			display: none;
		}
		&:after{
			content: "";
			display: block;
			margin: $avatar-padding auto 0;
			width: 15px;
			height: 15px;
			background: #f0f0f0;
			border-radius: 50%;
		}
		&-wrapper{
			position: relative;
			list-style: none;
			padding: $avatar-padding;
			ul.children &{
				padding-right: 0;
			}
		}
		.hamethread-controller{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&-avatar{
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
		width: $avatar-col-width;
		padding: 0 $avatar-padding;
		img{
			max-width: $img-size;
			width: auto;
			height: auto;
			border-radius: 50%;
		}
	}
	&-body{
		margin-left: $avatar-col-width;
		font-size: 16px;
	}
	&-header{
		font-size: 0.85em;
		padding: 0 0 $avatar-padding / 2;
	}
	&-author{
		font-weight: bold;
		margin-right: 0.5em;
	}
	&-role{
		background: #aaa;
		font-size: 0.9em;
		color: #fff;
		padding: 0.15em 0.5em;
		border-radius: 2px;
	}
	&-date{
		margin-left: 0.25em;
		color: #888;
	}
	&-content{
		background: #fff;
		border: 1px solid #eee;
		padding: $avatar-padding;
		border-radius: 2px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	&-actions{
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		border: 1px solid #eee;
		border-top: none;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		font-size: 14px;
		& > a,
		& > button{
			display: inline-block;
			padding: $avatar-padding / 2 $avatar-padding;
			border: none;
			background: transparent;
			border-left: 1px solid #eee;
			transition: color .3s linear, background-color .3s linear;
			-webkit-appearance: none;
			&, &:link, &:visited{
				color: #aaa;
				text-decoration: none;
			}
			&:hover, &:active{
				cursor: pointer;
				background: #fff;
				color: #000;
				text-decoration: none;
			}
			&.active{
				color: #6275ff;
				&:hover, &:active{
					color: #eb3d4e;
				}
			}
		}
		i{
			margin-right: 0.25em;
		}
	}
}

.hamethread-post{
	&-comment{
		text-align: center;
	}
	&-button{
		cursor: pointer;
		font-size: 16px;
		display: inline-block;
		padding: 0.5em 1em;
		background-color: #888;
		color: #fff;
		border: 3px solid #888;
		transition: color .3s linear, background-color .3s linear, border-radius .3s linear;
		border-radius: 5px;
		&:hover{
			background: #fff;
			border-style: double;
			color: #888;
		}
		&:active{
			color: #fff;
			background-color: #888;
			border-radius: 10px;
		}
	}
}

.hamethread-nocomment{
	display: none;
	[data-comment-count="0"] + &{
		display: block;
	}
}

.hamethread-controller{
	.btn-group{
		float: right;
		.btn-link{
			color: #ccc;
			text-decoration: none;
			transition: color .3s linear, transform .3s linear;
			transform: rotate(0deg);
			&:hover{
				color: #888;
				transform: rotate(90deg);
			}
		}
	}
}

.alert p:last-child{
	margin-bottom: 0;
}

.alert-muted{
	color: #ccc;
	border-color: #eee;
}

.hamethread-watchers{

	margin: 40px 0;

	&-no{

	}

	&-item{
		display: inline-block;
		margin: 0 10px 10px 0;
	}

	.avatar{
		width: auto;
		height: auto;
		max-width: 48px;
		border-radius: 50%;
	}

	&-toggle{
		text-align: right;
		margin-bottom: 20px;
	}

	.btn-following{
		.on{
			display: inline;
		}
		.hover{
			display: none;
		}
		&:hover{
			.on{
				display: none;
			}
			.hover{
				display: inline;
			}
		}
	}

}
